# **Data Science Tools and Ecosystem**

##### ***This notebook, we will summarize the Data Science Tools and Ecosystems.***

__Objectives:__
- Popular languages in data science
- Common libraries used in data science.
- Evaluating arithmetic expressions

##### Some of the most popular languages in Data Science are:
1. Python
2. R
3. SQL

##### Some of the most common libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib

| Data Science Tools |
| ------------- |
| Jupyter Notebooks |
| R Studio |
| Hadoop |

### Below are examples of evaluating arithmetic expressions in Python:

In [2]:
# This operation will multiply and then add integers
(3*4)+5

17

In [6]:
# This will calcuate minutes into hours by dividing the total minutes by 60
minutes = 200
hours = 200/60
print("{}{}{}".format("There are ", hours, " in 200 minutes"))

There are 3.3333333333333335 in 200 minutes

## Author
### Francisco Magallanes